.elgg-page-default {
    min-height: 54vmax;
}

.elgg-page-messages {
    height: 0;
}

.elgg-page-body {
    height: 100%;
    font-size: 2vmax;
}

.elgg-page-default .elgg-page-section .elgg-inner {
    position: relative;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    max-width: 100%;
}

.elgg-button, a {
    height: 3vmax;
    font-size: 2vmax;
    line-height: 2.5vmax;
    width: 47%;
    text-align: center;
    margin-left: 2%;
}

fieldset .elgg-button + .elgg-button, fieldset a {
    margin: 0;
    margin-left: 2%;
}

.elgg-field-label, .elgg-field-input {
    padding-left: 2%;
    padding-bottom: 0.5vmax;
    font-size: 3vmax;
    line-height: 3.5vmax;
}

h2 {
    padding-left: 2%;
    padding-bottom: 4%;
    font-size: 3.25vmax;
    line-height: 3.75vmax;
}

input[type=radio] {
    border: 0px;
    width: 2.25vmax;
    height: 2.25vmax;
}