input[type="radio"]{
  opacity:0;
  position:fixed;
}

input[type="radio"]:checked+img{
  filter:sepia(100%) saturate(4000%) grayscale(80%) hue-rotate(300deg);
  -webkit-filter:sepia(100%) saturate(4000%) grayscale(80%) hue-rotate(300deg);
}

.elgg-input-radios.elgg-horizontal li{
  padding-right:0
}

.big-img {
  object-fit: contain;
  width: 96%;
  margin-left: 2%;
  /*max-height: 30vh;*//*this would fix landscape mode but breaks portrait a bit*/
}

.small-img {
  width: calc(90% / 4);
  margin-left: 2%;
  margin-bottom: 2%;
}

p {
  margin-left: 2%;
}