img {
    height: 14vmax;
}

fieldset h2 {
    font-size: 2.5vmax;
    line-height: 2.8vmax;
}

label.elgg-field-label {
    font-size: 2.3vmax;
    line-height: 2.4vmax;
}

.elgg-input-radios li label {
    font-size: 2.3vmax;
    line-height: 2.4vmax;
}